<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- jedis池配置 -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="minIdle" value="$[redisMinIdle]" />
		<property name="maxIdle" value="$[redisMaxIdle]" />
		<property name="maxTotal" value="$[redisMaxTotal]" />
		<property name="maxWaitMillis" value="$[redisMaxWait]" />
	</bean>
	<!-- jedis池实例 -->
	<bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
		<constructor-arg index="0" ref="jedisPoolConfig" />
		<constructor-arg index="1">
			<list>
				<bean class="redis.clients.jedis.JedisShardInfo">
					<constructor-arg name="host" value="$[redisHost]" />
					<constructor-arg name="port" value="$[redisPort]" />
					<constructor-arg name="connectionTimeout" value="$[redisTimeout]" />
					<constructor-arg name="soTimeout" value="$[redisTimeout]" />
					<constructor-arg name="weight" value="$[redisWeight]" />
					<!-- <property name="password" value="$[redisPassword]" /> -->
				</bean>
			</list>
		</constructor-arg>
	</bean>

	<bean id="redisClient" class="org.gy.framework.util.jedis.RedisClient">
		<property name="shardedJedisPool" ref="shardedJedisPool" />
	</bean>

</beans>